@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');


.dynamic-text {
  position: relative;
  display: flex;
  font-family: poppins;


  .simply {
    color: white;
    font-family: poppins;
    opacity: 0%;
  }

  #text-target {
    display: flex;
    width: 300px;
    text-align: left;
    animation: color 30s alternate infinite;
    perspective: 200px;
    transform: translateX(-300px);
    font-family: poppins;


  }
  .word {
    position: absolute;
    font-family: poppins;
  }
  @keyframes color {
    0% {
      color: #604FDD;
      font-family: poppins;

    }
    50% {
      color: #604FDD;
      font-family: poppins;

    }
    100% {
      color: #604FDD;
      font-family: poppins;

    }
  }
  .letter {
    transform: translateZ(200px);
    font-family: poppins;

  }
  @keyframes anim {
    25% {
      transform: translateZ(0px);
      opacity: 1;
    }
    32% {
      opacity: 0;
      transform: translateZ(-280px) translateX(200px);
    }
  }
}
